body {
  padding: 0;
  margin: auto;
  font-family: sans-serif;
  background: url("./images/back4.jpg");
  background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
